.wordle-container {
  max-width: 400px;
  min-height: 100vh;
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  row-gap: 0.5rem;
  padding: 1rem;
}

.tile-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  margin-bottom: 0.5rem;
}
.tile-section {
  display: flex;
  gap: 0.35rem;
}

.wordleTile {
  text-align: center;
  height: 3rem;
  font-weight: bolder;
  background-color: #555;
  border-radius: 0.25rem;
  color: white;
  pointer-events: none;
}

.fourInput {
  width: calc(100% / 4);
}
.fiveInput {
  width: calc(100% / 5);
}
.sixInput {
  width: calc(100% / 6);
}

.dark {
  background-color: #77777762;
}

.gray {
  background-color: #333;
}
.yellow {
  background-color: rgb(200, 200, 50);
}
.green {
  background-color: rgb(72, 199, 72);
}

/* Keyboard */
.keyboard-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
}

.keyboard-row {
  display: flex;
  gap: 0.1rem;
}

.keyboard {
  cursor: pointer;
  font-size: 1rem;
}

/*  End Keyboard */

.wordleMargin {
  margin-bottom: 0.5rem;
}

.wordleLetterCount {
  display: flex;
  gap: 1rem;
}

@media (min-width: 360px) {
  .keyboard-row {
    gap: 0.3rem;
  }
}
@media (min-width: 400px) {
  .keyboard-row {
    gap: 0.2rem;
  }
}
