:root {
  --snake-size: 20px;
}

/* Difficulty */

.snake-difficulty {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
}

.snake-difficulty-buttons {
  display: flex;
  gap: 15px;
}

/* End Difficulty */

.snake-game-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  color: white;
}

.snake-board {
  width: 100%;
  height: 100%;
}

.snake-border-easy {
  background-color: rgba(0, 128, 0, 0.3);
}
.snake-border-medium {
  background-color: rgba(0, 0, 128, 0.5);
}
.snake-border-hard {
  background-color: rgba(128, 0, 0, 0.35);
}

.snake {
  width: var(--snake-size);
  height: var(--snake-size);
  position: absolute;
  border-radius: 1.5px;
  z-index: 1;
}

.snake-easy {
  background-color: rgba(0, 255, 0, 0.75);
}

.snake-medium {
  background-color: rgba(0, 0, 255, 0.75);
}

.snake-hard {
  background-color: rgba(255, 0, 0, 0.75);
}

.body {
  width: var(--snake-size);
  height: var(--snake-size);
  position: absolute;
  border-radius: 1.5px;
  background-color: black;
  z-index: 0;
}

.food {
  width: var(--snake-size);
  height: var(--snake-size);
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 5;
}

.snake-controls-container {
  /* padding: 10px 0 30px 0; */
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(2, 60px);
  row-gap: 25px;
  column-gap: 45px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 5%);
  user-select: none;
}

/* Controls */

.snake-header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.snake-joystick {
  flex-grow: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}
