.main-subsection {
  padding: 2rem 1.5rem;
}

.main-subsection:nth-of-type(2n) {
  border-bottom: var(--grid-border);
}
.main-subsection:nth-of-type(n) {
  border-bottom: var(--grid-border);
}

.main-subsection-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 250px auto;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main-subsection-container p {
  font-size: 0.8rem;
}

.subsection-text,
.subsection-title {
  text-align: center;
}

.subsection-title {
  font-size: 1.375rem;
}
.main-subsection-container img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 3px;
  object-fit: contain;
  transition: all 0.3s linear;
}

.main-subsection-container img:hover {
  transform: scale(1.05) !important;
}

.show-content {
  display: none;
}

.main-subsection-container .btn {
  width: 100px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-subsection {
    padding: 2rem 2.5rem;
  }

  .main-subsection:nth-of-type(2n) {
    border-right: var(--grid-border);
    border-bottom: var(--grid-border);
  }
  .main-subsection:nth-of-type(n) {
    border-bottom: var(--grid-border);
  }

  .main-subsection-container {
    gap: 20px;
  }

  .subsection-title {
    font-size: 1.75rem;
  }

  .main-subsection-container p {
    font-size: 1rem;
  }

  .main-subsection-container img {
    width: min(400px, 100%);
    height: 250px;
  }
}
