.main {
  margin: 100px auto;
  border-radius: 10px;
  background-color: white;
  color: #333333;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  box-shadow: var(--shadow);
}

@media (min-width: 768px) {
  .main {
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
  }
}
