.quizlet-container {
  padding: 0.5em 1em;
  color: black;
}

.decks-container {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.deck-container {
  border: 1px solid black;
  padding: 0.5em 0.5em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.deck-title {
}
.deck-description {
}

.deck-count {
}

.deck-btn {
  border: none;
  background-color: #f8f9fa;
}
.deck-icon {
  pointer-events: none;
  color: black;
}

.deck-button-container {
  display: flex;
  column-gap: 1em;
  position: absolute;
  right: 0.5em;
  bottom: 0.35em;
}

/* Studycard Container */

.studycards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.studycard-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
  text-align: center;
  align-items: center;
  padding: 0.25em 1em 0.5em 1em;
  overflow: auto;
  border-radius: 1rem;
  height: 15rem;
}
.studycards-title {
  text-align: center;
  color: white;
}
.studycards-home-btn {
}
.studycards-buttons-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.studycards-button {
  width: 100%;
}

/* Edit Flashcards */
.edit-flashcards-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-flashcards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: black;
}

.edit-title {
  text-align: center;
  color: white;
}

.edit-flashcards-title {
}
.edit-flashcards-definition {
}

.edit-flashcards-info {
  display: flex;
  flex-direction: column;
  color: white;
}
.edit-flashcards-info > input {
  margin-bottom: 0.5em;
}

.edit-flashcard-container {
  background-color: rgb(171, 165, 165);
  padding: 0.5em 0.25em;
}

.quizlet-inputs {
  color: #555555;
}

.edit-flashcard-definition {
  color: #555555;
  height: 10rem;
}

/* Write */
.write-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.write-title {
  text-align: center;
}

.write-count-term-container {
  text-align: center;
}

.write-textarea {
  height: 12rem;
  padding: 0.25em 0.5em;
  border-radius: 0.5rem;
}

.write-btn-container {
  display: flex;
  gap: 1rem;
}

.write-btn {
  width: 100%;
}

.pointer-events {
  pointer-events: none;
}

.quizlet-inputs {
  border: 0.5px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}

@media (min-width: 44rem) {
  .quizlet-container {
    max-width: 800px;
    margin-inline: auto;
  }
  .decks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
  }
  .add-deck {
    width: 500px;
    max-width: 700px;
    grid-column: span 2;
    margin-inline: auto;
  }

  .edit-flashcards-info {
    margin-inline: auto;
    width: 500px;
    max-width: 700px;
  }

  .studycards-container {
    max-width: 600px;
    margin-inline: auto;
  }

  .studycard-container {
    height: 25rem;
  }

  .edit-flashcards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .write-container {
    max-width: 600px;
    margin-inline: auto;
  }

  .write-textarea {
    height: 25rem;
  }

  .no-decks {
    grid-column: span 2;
  }
}
