:root {
  --shadow: 6px 6px 12px rgba(255, 255, 255, 0.2);
  --retro: #2f1b41;
  --maroon: #9f1e49;
  --yellow: #fecd51;
  --yellow-hover: rgba(254, 205, 81, 0.7);
  --gray: #f2f2f2;
  --black: #080708;
  --cerulean: #457b9d;
  --sapphire: #0353a4;
  --cordovan: #912f40;
  --platinum: #e6e8e6;
  /* --grid-border: 2px solid rgba(128, 128, 128, 0.2); */
  /* --grid-border: 2px solid rgba(254, 205, 81, 0.6); */
  --grid-border: 2px solid rgba(128, 128, 128, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
ul,
i,
p,
div,
img,
a,
button,
input,
label {
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
  color: white;
  width: 100%;
  min-height: 100vh;
  background-image: url(../public/Background1.jpg);
}
